@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

svg {
  width: 1em;
  height: 1em;
}

svg:not(.svg-exclude-fill)
{
fill: currentColor
}